body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    background-color: #144d56;
    color: #ecf0f1;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 6px -6px #000, 0 10px 50px 0 #782abd;
}

footer {
    background-color: #144d56;
    box-shadow: 0 4px 6px -6px #000, 0 -60px 500px 0 #6e00ce;
    color: #ecf0f1;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    max-width: 1350px;
    max-height: 330px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.section-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.section {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 13px;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;

}

.template-container {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
}

.template-card {
    text-align: center;
    margin: 15px;
    padding: 40px;
    /* Adjusted padding for medium size */
    background: rgb(42, 156, 187);
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.5s;
    box-sizing: border-box;
    width: 25%;
    height: 90%;
    /* Set the width to 48% to leave space between cards */
}

.template-card:hover {
    transform: scale(1.05);
}


.main {
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 0 4px 6px -6px #000, 0 10px 80px 0 #00ff80;
}

.main:hover {
    transform: scale(1.05);
}

.wish-content {
    margin-top: 10px;
    font-style: italic;
    font-size: 20px;
}

h2 {
    font-size: 32px;
    margin: 10px 23px;
}